<configuration>
  <!-- other declarations removed for brevity -->
  <system.web>
    <httpModules>
 
      <add name="Cms" type="Alanta.Sitefinty.CmsHttpModule, Alanta.Sitefinty" />
 
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>

      <remove name="Cms" />
      <add name="Cms" type="Alanta.Sitefinty.CmsHttpModule, Alanta.Sitefinity" />

    </modules>
  </system.webServer>
</configuration>