<configuration>
  <!-- other declarations removed for brevity -->
  <system.web>
    <httpModules>
      <!-- Please adjust the namespace to match your code -->
      <add name="Cms" type="Alanta.Sitefinity.CmsHttpModule" />
 
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>

      <remove name="Cms" />
      <!-- Please adjust the namespace to match your code -->
      <add name="Cms" type="Alanta.Sitefinity.CmsHttpModule" />

    </modules>
  </system.webServer>
</configuration>